ion-card-subtitle{text-align: justify;font-size: 15px;}

ion-list{
	ion-item{
		text-align: justify;font-size: 14px;
		
	}
}
ion-item-divider{padding-right: 15px; text-align: justify;font-weight: bold;}
.underline{text-decoration: underline;}