.main-lavel{
	background-color: rgb(236, 248, 244);
	border-radius: 12px;
	padding: 6px;
	border: 1px solid rgb(119, 134, 223);
}

.ride-txt{
	font-weight: bold;
	margin-left: 10px;
}
.start-btn{ background:linear-gradient(to bottom, #9dd680 5%, #72b352 100%); color: #fff;}
.end-btn{background:linear-gradient(to bottom, #80c2d6 5%, #5298b3 100%); color: #fff;}
.alart-message{color: orange; font-weight: bold;}

